
{% assign author  = site.data.author  %}
{% assign cv      = site.data.cv      %}
{% assign strings = site.data.strings %}

<section>
  <div class="npb">
    <h2 id="certifications" class="h3 hr-bottom"> {{ strings.resume.certifications }}
      <span class="symbol icon-trophy"></span>
    </h2>
    <section>

      {% for cert in cv.certifications reversed %}
        <div class="cert-item">
          <div class="h6 bc">
            {{ cert.title }}
          </div>
          <div class="faded extra">
            {{ cert.description }}
          </div>
        </div>
      {% endfor %}

    </section>
  </div>
</section>
