
hy-drawer .sidebar-bg {
  /*background: linear-gradient(to bottom, #193747 0%, #233e4c 30%, #3c929e 50%, #d5d5d4 70%, #cdccc8 100%);*/
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

img.avatar {
  width: 11rem;
  height: 11rem;
}

h1 {
  width: initial !important;
}

body {
  overflow-y: auto !important;
}

.dingbat {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.sidebar-sticky .location.icon {
  margin-right: 3px;
}

.d-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: -8px;
}

.d-flex > div,
.d-flex > article {
  margin: 8px;
}

.menu-cards {
  margin-top: 2vh;
}

.grid-cards {
  flex-wrap: wrap;
}

.grid-cards .project-card {
  width: 49% !important;
  margin: 8px 0 !important;
}

.project-card {
  border-radius: .5rem;
}

hy-push-state #_main {
  padding-bottom: 2rem;
}

.project-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.project-title a {
  font-size: xxx-large;
}

h1.project-title a::after {
  display: none;
}

@media screen and (min-width: 1664px) {
  .project-title a,
  .tag-wrapper {
    display: none !important;
  }
}

@media screen and (max-width: 1664px) {
  .tag-side-wrapper {
    display: none !important;
  }
}

.tag-wrapper,
.technologies {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.technologies {
  flex-wrap: wrap;
  justify-content: flex-end;
}

.tag {
  font-size: .8rem;
  width: min-content;
  padding: 1px 12px;
  border-radius: 2rem;
  color: white;
  font-weight: 600;
  white-space: nowrap;
  margin: 2px;
}

.technologies .tech-tag {
  background: #8fb5e2;
}

.year-tag {
  background: #a9d18e;
}

.category-tag {
  background: #fda467;
}

.project-card .technologies {
  justify-content: center;
  width: 90%;
  margin: auto;
}

.project-card .technologies .tag {
  font-size: .6rem;
}

.tag-side-wrapper .technologies {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: nowrap;
}

.tag-side-wrapper .technologies::before {
  content: 'Technologies';
  margin-bottom: .5rem;
}

.tag-side-wrapper .tech-tag-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.tag-side-wrapper hr {
  width: 80%;
}

.tag-side-wrapper .year-tag {
  font-size: .8rem;
  width: min-content;
  border-radius: 2rem;
  font-weight: 600;
  white-space: nowrap;
}

.tag-side-wrapper .year-tag-wrapper::before {
  content: 'Date';
}

.tag-side-wrapper .category-tag-wrapper::before {
  content: 'Category';
}

.tag-side-wrapper .category-tag-wrapper::before,
.tag-side-wrapper .year-tag-wrapper::before,
.tag-side-wrapper .technologies::before {
  font-size: 0.667rem;
  font-weight: bold;
  font-style: normal;
  letter-spacing: .025rem;
  text-transform: uppercase;
  color: var(--menu-text);
  margin-right: 1rem;
  width: 18% !important;
}

.year-tag-wrapper,
.category-tag-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (min-width: 1664px) {

  body:not(.no-toc) #filter-projects,
  body:not(.no-toc) .tag-side-wrapper {
    position: fixed;
    width: calc(50% - 31rem);
    right: 0;
    margin: auto;
    overflow: auto
  }

  body:not(.no-toc) #filter-projects.filter-hide,
  body:not(.no-toc) .tag-side-wrapper.tag-hide {
    opacity:0;
    transform:translateX(-2rem)
  }

  body:not(.no-toc) #filter-projects.filter-show,
  body:not(.no-toc) .tag-side-wrapper.tag-show {
    opacity:1;
    transform:translateX(0);
  }

  body:not(.no-toc) #filter-projects.affix,
  body:not(.no-toc) .tag-side-wrapper.affix {
    position:fixed;
    top:1rem;
    max-height:calc(100vh - 1rem)
  }

  #filter-projects,
  .tag-side-wrapper {
    flex-direction: column !important;
    align-items: baseline !important;
    padding-left: 2.5rem;
  }

  #filter-projects .category {
    width: 75% !important;
    margin-bottom: 1rem !important;
    text-align: left !important;
  }

  body:not(.no-third-column) .page>header>a.no-hover+#filter-projects,
  body:not(.no-third-column) .page>header>a.no-hover+.tag-side-wrapper {
    position:absolute;
    right:-25rem;
    width:21rem;
    bottom:0;
    margin-bottom:0
    overflow: hidden;
  }

}

#filter-projects {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  margin: 2rem -1rem 2rem calc(-1rem + 1px);
  padding-bottom: .5rem;
  transition:opacity 300ms ease, transform 300ms ease, border-color 1s ease;
}

#filter-projects .category {
  padding: 3px 10px;
  width: 100%;
  text-align: center;
  font-weight: 600;
  color: var(--body-color);
  cursor: pointer;
  border-bottom: 2px solid #0009;
  overflow: hidden;
  margin-right: .5rem;
}

#filter-projects .category:hover {
  background: #0009;
  border-bottom: 2px solid #000;
  color: white !important;
}

#filter-projects .category.active {
  background: #0009;
  border-bottom: 2px solid #000;
  color: white !important;
}

/* Only for desktop */
@media (min-width: 992px) {
  hy-push-state #_main,
  .animation-main.fixed-top .content {
    padding-top: 4rem !important;
  }

  hy-push-state #_navbar {
    display: none !important;
  }
}

/* Only for mobile devices */
@media (max-width: 767.98px) {
  .d-flex.menu-cards {
    flex-direction: column;
    margin: 0;
  }

  .grid-cards .project-card {
    width: 100% !important;
  }

  #filter-projects {
    display: none !important;
  }
}
