
hy-drawer .sidebar-bg {
  /*background: linear-gradient(to bottom, #193747 0%, #233e4c 30%, #3c929e 50%, #d5d5d4 70%, #cdccc8 100%);*/
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

img.avatar {
  width: 11rem;
  height: 11rem;
}

h1 {
  width: initial !important;
}

body {
  overflow-y: auto !important;
}

.sidebar-sticky .location.icon {
  margin-right: 3px;
}

.d-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: -8px;
}

.d-flex > div,
.d-flex > article {
  margin: 8px;
}

.menu-cards {
  margin-top: 2vh;
}

.project-card {
  border-radius: .5rem;
}

hy-push-state #_main {
  padding-bottom: 2rem;
}

/* Only for desktop */
@media (min-width: 992px) {
  hy-push-state #_main {
    padding-top: 4rem !important;
  }

  hy-push-state #_navbar {
    display: none !important;
  }
}

/* Only for mobile devices */
@media (max-width: 767.98px) {
  .d-flex.menu-cards {
    flex-direction: column;
    margin: 0;
  }
}
