---
layout: page
---

{{ content }}

{% assign projects = site[page.slug] | default:site.tags[page.slug] | sort: "year" %}

<div class="d-flex menu-cards grid-cards">
{% for project in projects %}

        <article class="project-card" data-category="{{ project.category }}">
          <a href="/projects/" class="no-hover no-print-link flip-project flip-title" tabindex="-1" style="font-size: 0;">Resume
            <div class="project-card-img aspect-ratio sixteen-nine flip-project-img">
              <img src="/assets/img/cv.jpg" alt="Async Constructor Pattern in JavaScript" loading="lazy" style="opacity: 0;" width="864" height="486">
            </div>
          </a>
          <h3 class="project-card-title flip-project-title"> <a href="/projects/" class="flip-title">Résumé</a></h3>
          <p class="project-card-text fine" property="disambiguatingDescription">
            {{ project.category }}
            <a class="fill-card no-hover flip-title" href="/projects/" tabindex="-1">
              <span class="sr-only">Résumé</span>
            </a>
          </p>
        </article>

{%endfor%}
</div>
<hr class="dingbat related"/>
